<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
    <ion-button  fill="solid" routerLink="/student" slot="end" expand="block" color="success">
      Student
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button (click)="getUser()" expand="block" fill="clear" shape="round">
    Click me
  </ion-button>
  <ion-list>
    <ion-item *ngFor="let user  of users">
      <div><b>{{user.name}}***>{{user.age}}</b></div>
    </ion-item>
  </ion-list>

</ion-content>
